/* Styles */
/* Import All Your Stylesheets First */
/* You can add variables to :root */

:root {
    --f-index: 0;
    --full: 100%;
    --glue: fixed;
    --dB: block;
    --abs: absolute;
}

application {
    width: var(--full);
    height: var(--full);
    position: var(--glue);
    top: var(--f-index);
    left: 0;
} layout {
    width: var(--full);
    height: var(--full);
    position: var(--abs);
    top: var(--f-index);
    left: var(--f-index);
    overflow: auto;
}