main {
    width: 50%;
    display: block;
    background: rgba(222, 184, 135, 0.7);
    box-shadow: 5px 5px 2px black, 10px 10px 3px grey;
}

[alt=ad1] {
    width: 100%;
}

[role=screen] {
    width: 100%;
    background: green;
}

[role=calculations], [role=result] {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 2%;
    display: flex;
}

[role=calculations] {
    background: cyan;
    color: #000;
    font-size: 1.7em;
    letter-spacing: .2em;
    user-select: all;
}

[role=result] {
    font-size: 2.3em;
}

[role=calculations]::-webkit-scrollbar, [role=result]::-webkit-scrollbar {
display: none;
}

.row {
    font-weight: bolder;
    display: flex;
    column-gap: 3px;
    padding: 2%;
}

button {
    font-size: large;
    width: 100%;
    color: #ffff;
    background: #000;
    padding: 3%;
    cursor: pointer;
    transition: .5s;
    font-weight: bold;
}

button:hover {
    color: #000;
    background: #fff;
}

@media screen and (max-width: 500px) {
    main {
        width: 100%;
    }
}