@import url('pc.css');

.bX {
    display: block;
}

.b1 {
    grid-column: 1;
    grid-row: 1;
    background: orangered;
} .b2 {
    grid-column: 2;
    grid-row: 1;
    background: green;
} .b3 {
    grid-column: 3;
    grid-row: 1 / span 2;
    background: blue;
} .b4 {
    grid-column: 1;
    grid-row: 2;
    background: magenta;
} .b5 {
    grid-column: 2;
    grid-row: 2;
    background: orange;
} .b6 {
    grid-column: 1 / span 3;
    grid-row: 3;
    background: purple;
}